<html>
    <div class="header">    
        <div class="logop">
            <p   class="nombre">ANDRADE ORTEGA ANA BELEN</p>
            <nav>
                <ul class="nav">
                    <li><input href="#" value="🡫 " class="flecha" readonly>  
                        <ul>
                        <li><input  class="input_li" routerLink="/Pagprincial"value="Inicio" readonly> </li>
                        <li><input class="input_li" routerLink="/Perfil" value="Perfil"  readonly></li>
                        <li> <input class="input_li" routerLink="/Inicio" (click)="onclick()" value="Cerrar Sesion" readonly> </li>
                        <li><input  class="input_li" routerLink="/Agenda"value="Agenda" readonly> </li> 
                        <li><input class="input_li"routerLink="/Cambio"value="Cambiar clave" readonly></li> 
                    </ul>
                </ul>
            </nav>
        </div>
            <div class="logotipo">
                <img class="uleam" src="assets/img/logoULEAM.png" alt="" width="20%" height="50px" >
                <img class="facci" Align="right" src="assets/img/facci.png" alt="" width="20%" height="50px"> 
            </div>
    
    </div>

        <div class="listado">
            <!--encabezado-->
     <div ALIGN="CENTER" class="encabezado">
         ESTUDIANTES
     </div>
     <div ALIGN="CENTER"class="FAlTAS">
         P F
     </div>
     <!-- fin del encabezado-->
     <!----------------------------------------------------------->
     <!--Lista de estudiantes y botones-->
     <div class="general_a">
         <ol>
             <li>LLEYTON JAIME ACOSTA PINCAY</li> <hr>
             <li>BRYAN JESUS ANCHUNDIA MACIAS </li><hr>
             <li>CARLOS DANIEL ANDRADE MONTESDEOCA  </li><hr>
             <li>ANA BELEN ANDRADE ORTEGA </li><hr> 
             <li>ANTHONY ROGERS ARTEAGA MEZA	</li><hr> 
             <li>DIEGO MIGUEL ARTEAGA SALTOS </li><hr>
             <li>JOSTIN ALEXANDER BAJAÑA BRAVO </li><hr>
             <li>MARIA JOSE BAQUE ALAY </li><hr>
             <li>MARCOS ENRIQUE BARCIA FALCONI</li><hr>
             <li>DILIAN JOSUE BAZURTO GARCIA</li><hr>
             <li>JONATAN NATANAEL BRAVO ANDRADE </li><hr>
             <li>GREILY YURANY BRAVO DELGADO </li><hr>
             <li>DARLIN ALEXANDER BRAVO PONCE </li><hr> 
             <li>YANDRY JAVIER BRIONES MOLINA </li> <hr>
             <li>JEAN PIER CASQUETE RODRIGUEZ </li> <hr>
             <li>JOSE ELICEO CEDEÑO LOPEZ </li> <hr>
             <li>HELION MAXIMILIANO CEDEÑO VERA </li><hr> 
             <li>ALEXIS GONZALO CHELE ZAMBRANO</li> <hr>
             <li>VICTOR ALEXANDER DELGADO MEZA </li> <hr>
             <li>BELGICA GUADALUPE DELGADO SUAREZ </li><hr>
             <li>DARWIN JOSE LOPEZ MOREIRA </li> <hr>
             <li>ERICKA DAYANA LORENTE TELLO </li> <hr>
             <li>ANA BRIGITTE LUCAS MINALLA </li> <hr>
             <li>STEFANIA MONSERRATE MANTUANO</li> <hr>
             <li>BRYAN STEVEN MEJIA LANDA </li> <hr>
             <li>JHEISON RAFAEL MENDOZA ASEVEDO </li> <hr>
             <li>JOSUHE EMILIANO MOREIRA CEDEÑO </li> <hr>
             <li>BYRON ALEJANDRO ORMAZA CEVALLOS </li> <hr>
             <LI>ALISSON ESTEFANIA PEREZ REYES </LI> <hr>
             <li>BRYAN DAVID REZAVALA BAILON </li><hr>
             <li>EDDU ARIEL SALDARRIAGA CARRILLO </li> <hr>
             <li>LUIS ALFREDO SANCHEZ BRIONES </li> <hr>
             <li>BYRON ALEXANDER SANTACRUZ SALTOS </li> <hr>
             <li>JOSELYN JOHANNA TORRES TOALA </li> <hr>
             <li>KAREN JACQUELINE TUMBACO PALMA </li><hr> 
             <li>LEIF WITHER VELASQUEZ REALPE </li> <hr>
         </ol>
     </div>
    <div class="botones ">
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
     <input type="checkbox" > <input type="checkbox" > <br><hr>
    </div> 
    </div>
        <div class="piespagina">
            <h1>Contactos:</h1>
            <a href="https://www.facebook.com/UleamEc" target="_blank">
                <img src="assets/img/logofacebook.png" alt="" width="40cm" height="40cm" class="logof">
            </a>
            <a href="https://www.instagram.com/uleam_ecuador_oficial/?hl=es-la" target="_blank">
                <img src="assets/img/logoinstagram.png" alt="" width="40cm" height="40cm" class="logof">
            </a>
            <a href="https://twitter.com/UleamEcuador" target="_blank">
                <img src="assets/img/logotwitter.png" alt="" width="40cm" height="40cm" class="logof">
            </a>
            <hr class="hrp">
            <div class="datosa">
                <h2>Datos adicionales:</h2>
                <p>Direcion:Av. Circunvalacion, Manta</p>
                <p>Ecuador - Manta</p>
                <p>Telefonos:  (05) 262-0288</p>
                <p>Email: contacto@uleam.edu.ec</p>
            </div>  
        </div>
</html>