<html>
    <div class="header">    
        <div class="logop">
            <p   class="nombre">ANDRADE ORTEGA ANA BELEN</p>
            <nav>
                <ul class="nav">
                    <li><input href="#" value="🡫 " class="flecha" readonly>  
                        <ul>
                        <li><input  class="input_li" routerLink="/Pagprincial"value="Inicio" readonly> </li>
                        <li><input class="input_li"routerLink="/Asistencia" value="Asistencia" readonly> </li>
                        <li> <input class="input_li" routerLink="/Inicio" (click)="onclick()" value="Cerrar Sesion" readonly> </li>
                        <li><input  class="input_li" routerLink="/Agenda"value="Agenda" readonly> </li> 
                        <li><input class="input_li"routerLink="/Perfil"value="Perfil" readonly></li> 
                    </ul>
                </ul>
            </nav>
        </div>
            <div class="logotipo">
                <img class="uleam" src="assets/img/logoULEAM.png" alt="" width="20%" height="50px" >
                <img class="facci" Align="right" src="assets/img/facci.png" alt="" width="20%" height="50px"> 
            </div>
    
    </div>
    <div ALIGN=CENTER class="menu">    
        <form action="" class="cambio_f">
            <h1>Cambio de contraseñas</h1>
            <h4>Contraseña actual</h4> <br>
            <input type="password" name="Correo" id="co1" placeholder="Contraseña actual" onclick=" placeholder='' " >
            <h4>Contraseña nueva</h4> <br>
           <input type="password" name="contraseña" id="con1" placeholder=" Contraseña nueva" onclick=" placeholder='' ">
           <h4>Confirmar Contraseña</h4><br>
           <input type="password" name="contraseña" id="ccon1" placeholder="Confirmar Contraseña" onclick=" placeholder='' "><p></p><br>
        </form>
        <div>
            <p> </p><br>
            <a href="#" class="boton6" id="g1" routerLinkActive="Inicio" >GUARDAR</a>
        </div> 
        </div> <br>
        <div class="piespagina">
            <h1>Contactos:</h1>
            <a href="https://www.facebook.com/UleamEc" target="_blank">
                <img src="assets/img/logofacebook.png" alt="" width="40cm" height="40cm" class="logof">
            </a>
            <a href="https://www.instagram.com/uleam_ecuador_oficial/?hl=es-la" target="_blank">
                <img src="assets/img/logoinstagram.png" alt="" width="40cm" height="40cm" class="logof">
            </a>
            <a href="https://twitter.com/UleamEcuador" target="_blank">
                <img src="assets/img/logotwitter.png" alt="" width="40cm" height="40cm" class="logof">
            </a>
            <hr class="hrp">
            <div class="datosa">
                <h2>Datos adicionales:</h2>
                <p>Direcion:Av. Circunvalacion, Manta</p>
                <p>Ecuador - Manta</p>
                <p>Telefonos:  (05) 262-0288</p>
                <p>Email: contacto@uleam.edu.ec</p>
            </div>  
        </div>
</html>