<html>
    <div class="header">    
        <div class="logop">
            <p   class="nombre">ANDRADE ORTEGA ANA BELEN</p>
            <nav>
                <ul class="nav">
                    <li><input href="#" value="🡫 " class="flecha" readonly>  
                        <ul>
                        <li><input  class="input_li" routerLink="/Pagprincial"value="Inicio" readonly> </li>
                        <li><input class="input_li"routerLink="/Asistencia" value="Asistencia" readonly> </li>
                        <li> <input class="input_li" routerLink="/Inicio" (click)="onclick()" value="Cerrar Sesion" readonly> </li>
                        <li><input  class="input_li" routerLink="/Agenda"value="Agenda" readonly> </li> 
                        <li><input class="input_li"routerLink="/Cambio"value="Cambiar clave" readonly></li> 
                    </ul>
                </ul>
            </nav>
        </div>
            <div class="logotipo">
                <img class="uleam" src="assets/img/logoULEAM.png" alt="" width="20%" height="50px" >
                <img class="facci" Align="right" src="assets/img/facci.png" alt="" width="20%" height="50px"> 
            </div>
    
    </div>

    <div class="perfil">
        <div class="datos">
            <h2>Pefil de Estudiante</h2><br>
            <p>Nombres:</p> <br>
            <input class="nombree" type="text"  value="Ana Belen" readonly> 
            <p>Apellidos:</p>
            <input class="nombree" type="text" value="Andrade Ortega" readonly>        
            <br><br>
            <p>Telefono:</p><br>
            <input class="Telefono" type="text" value="0987320403" readonly>
            <p>Cedula:</p>
            <input class="Cedula" type="text" value="1314208107" readonly>
            <br><br>
            <p>Correo:</p><br>
            <input class="Correo" type="text" value="andradeortegaanabelen15@gmail.com" style="width:15em ;" readonly><br><br>

        </div>
        <div class="foto" Align="center">
            <img src="assets/img/Ana.jpg" alt="Foto del estudiante" class="fotoes">
        </div>
        <div class="datosE">
            <h2 >Datos Estudiantiles</h2><br>
            <p>Facultad:</p>
            <input type="text" name="" id="" value="Ciencias de la vida y Tecnologia" style="width:15em ;" readonly>
            <p>Carrera: </p>
            <input type="text" name="" id="" value="Tecnologias de la informacion" style="width:15em ;" readonly>
            <br><br>
            <p>Semestre:</p>
            <input class="Semestre" type="text" value="5to" readonly><br><br>
        </div>
        <div class="Personales">
            <h2 >Datos Personales</h2><br>
            <p>Genero :</p>
            <input type="text" name="" id="" value="Femenino" readonly>
            <p>Estado Civil :</p>
            <input type="text" name="" id="" value="Soltera" readonly>
            <p>Fecha de Nacimiento :</p>
            <input type="text" name="" id="" value="15/11/2002  " readonly>
            <p> Tipo de colegio :</p>
            <input type="text" name="" id="" value="Fiscal" readonly style="width: 15em;"><br> <br>
        </div>
                    
    <div class="actual">
        <h2>Datos de domicilio actual</h2><br>
        <p>Pais :</p>
        <input type="text" name="" id="" value="Ecuador" readonly>
        <p>Provincia :</p>
        <input type="taext" name="" id="" value="Manabi" readonly>
        <br><br>
        <p>Cuidad/Canton :</p>
        <input type="text" name="" id="" value="Manta" readonly>
        <p>Direccion :</p>
        <input type="text" name="" id="" value="Calle U1" readonly><br> <br>
    </div>
    </div>
    <div class="piespagina">
        <h1>Contactos:</h1>
        <a href="https://www.facebook.com/UleamEc" target="_blank">
            <img src="assets/img/logofacebook.png" alt="" width="40cm" height="40cm" class="logof">
        </a>
        <a href="https://www.instagram.com/uleam_ecuador_oficial/?hl=es-la" target="_blank">
            <img src="assets/img/logoinstagram.png" alt="" width="40cm" height="40cm" class="logof">
        </a>
        <a href="https://twitter.com/UleamEcuador" target="_blank">
            <img src="assets/img/logotwitter.png" alt="" width="40cm" height="40cm" class="logof">
        </a>
        <hr class="hrp">
        <div class="datosa">
            <h2>Datos adicionales:</h2>
            <p>Direcion:Av. Circunvalacion, Manta</p>
            <p>Ecuador - Manta</p>
            <p>Telefonos:  (05) 262-0288</p>
            <p>Email: contacto@uleam.edu.ec</p>
        </div>  
    </div>
</html>