<HTml>
    <div class="header">    
        <div class="logop">
            <p   class="nombre">ANDRADE ORTEGA ANA BELEN</p>
            <nav>
                <ul class="nav">
                    <li><input href="#" value="🡫 " class="flecha" readonly>  
                        <ul>
                        <li><input  class="input_li" routerLink="/Perfil"value="Perfil" readonly> </li>
                        <li><input class="input_li"routerLink="/Asistencia" value="Asistencia" readonly> </li>
                        <li> <input class="input_li" routerLink="/Inicio" (click)="onclick()" value="Cerrar Sesion" readonly> </li>
                        <li><input  class="input_li" routerLink="/Agenda"value="Agenda" readonly> </li> 
                        <li><input class="input_li"routerLink="/Cambio"value="Cambiar clave" readonly></li> 
                    </ul>
                </ul>
            </nav>
        </div>
            <div class="logotipo">
                <img class="uleam" src="assets/img/logoULEAM.png" alt="" width="20%" height="50px" >
                <img class="facci" Align="right" src="assets/img/facci.png" alt="" width="20%" height="50px"> 
            </div>
    
    </div>
    <!--anuncios-->
    <div class="anuncio">
        <div  ALIGN=CENTER class="anuncio2">
            NOTIFICACIONES    
        </div>
        <div id="notajs">
            
        </div>
    </div>
    <!--Fin de anuncio-->
    <!------------------------------------------------------------------------------------------------------------>
    <!--Usuario-->
    <div class="Usuario"> 
        <p class="identificado" Align="center">Usuario identificado </p>   
        <p></p>
        <P class="nombre_u"> <b>ANA BELEN ANDRADE ORTEGA</b> </P> <p></p>
        <p class="Ciudad"> <b>Ciudad: </b> MANTA</p> <p></p>
        <p class="correo"><b>Dirección de correo:</b>  e1314208107@live.uleam.edu.ec</p> <p></p>
    </div>
    <!--Fin de Usuario-->
    
    <!------------------------------------------------------------------------------------------------------------>
    <!--tutorias-->
    <div class="tutorias"> 
        <p class="Proximas" Align="center">Proximas tutorias </p> 
        <p></p><br>
        <p class="Lunes"> <b>Lunes:</b> </p> <br>
        <p> 12:00 a 1:00 pm y 7:00 a 8:00pm</p><br>
        <p class="Martes"><b>Martes:</b> </p><br>
        <p> 6:00 a 7:00 am y 12:00 a 1:00 pm</p><br>
        <p class="Miercoles"><b>Miercoles:</b> </p><br>
        <p> 7:00 a 8:00 am - 9:00 a 10:00 am - 2:00 a 3:00 pm - 7:00 a 8:00 pm</p><br>
       </div>
    <!--Fin de tutorias-->
<!------------------------------------------------------------------------------------------------------------>

<!--Calendario-->
    <div class="root">
        <div class="calendar" id="calendar">

        </div>
    </div>
    <script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/es.js"></script>
    <script  type="text/javascript" src="./js/calendar.js"></script>
    <script type="text/javascript">
        let calendar = new Calendar('calendar');
        calendar.getElement().addEventListener('change', e => {
            console.log(calendar.value().format('LLL'));
        });
    </script>
    <!--Fin de calendario-->
    <div class="piespagina">
        <h1>Contactos:</h1>
        <a href="https://www.facebook.com/UleamEc" target="_blank">
            <img src="assets/img/logofacebook.png" alt="" width="40cm" height="40cm" class="logof">
        </a>
        <a href="https://www.instagram.com/uleam_ecuador_oficial/?hl=es-la" target="_blank">
            <img src="assets/img/logoinstagram.png" alt="" width="40cm" height="40cm" class="logof">
        </a>
        <a href="https://twitter.com/UleamEcuador" target="_blank">
            <img src="assets/img/logotwitter.png" alt="" width="40cm" height="40cm" class="logof">
        </a>
        <hr class="hrp">
        <div class="datosa">
            <h2>Datos adicionales:</h2>
            <p>Direcion:Av. Circunvalacion, Manta</p>
            <p>Ecuador - Manta</p>
            <p>Telefonos:  (05) 262-0288</p>
            <p>Email: contacto@uleam.edu.ec</p>
        </div>  
    </div>
</HTml>
