
<!--app-pagina-principal></app-pagina-principal-->
<!--app-inicio></app-inicio-->
<!--app-registro></app-registro-->
<!--app-recuperar></app-recuperar--->
<!--app-agenda></app-agenda-->
<!--app-cambio></app-cambio-->
<!--app-listado></app-listado-->
<!--app-perfil></app-perfil--->
<router-outlet></router-outlet> 