
<div class="bodyr">
    <div class="prueba">
        <div ALIGN=CENTER class="menu">
            <div class="Registro">    
                <form action="" class="registro_f" method="get" [formGroup]='FormRegister' (ngSubmit)=" OnSubmit()">
                    <h1>Regitro</h1><br>
                    <h4>Correo electronico</h4> <br>
                    <input type="email" name="Correo" id="co1" placeholder="Correo electronico" onclick=" placeholder='' " formControlName="email" > <br>
                    <h4>Contraseña</h4><br>
                    <input type="password" name="contraseña" id="con1" placeholder=" Contraseña" onclick=" placeholder='' " formControlName="password"> <br>
                    <h4>Confirmar Contraseña</h4> <br>
                    <input type="password" name="contraseña" id="ccon1" placeholder="Confirmar Contraseña" onclick=" placeholder='' "><br>
                    <h4>Nombre completo </h4><br>
                    <input type="text" name="NOMBRE" id="n1" placeholder="Nombre completo" onclick=" placeholder='' " formControlName="nombre"><br>
                    <h4>Cedula</h4><br>
                    <input  type="tel" name="cedula" id="ce1" placeholder="Cedula"onclick=" placeholder='' " formControlName="cedula"><br>
                    <br>
                    <input type="submit" value="REGISTRASE" class="boton4" id="re1" >
       <!---<a href="#" class="boton4" id="re1" onclick="Registro()"> REGISTRASE</a><br--->
            </form><br>
                    <div class="caja_a1"><br>
                        <h5>¿Quieres iniciar secion?</h5> <br>
                        <br>
                        <a routerLink="/Inicio" class="boton5"> INICIA AHORA!!</a>  <br>     
                    </div> 
            </div>
        </div> 
    </div>
</div>

