<html>
    <div class="header">    
        <div class="logop">
            <p   class="nombre">ANDRADE ORTEGA ANA BELEN</p>
            <nav>
                <ul class="nav">
                    <li><input href="#" value="🡫 " class="flecha" readonly>  
                        <ul>
                        <li><input  class="input_li" routerLink="/Pagprincial"value="Inicio" readonly> </li>
                        <li><input class="input_li"routerLink="/Asistencia" value="Asistencia" readonly> </li>
                        <li> <input class="input_li" routerLink="/Inicio" (click)="onclick()" value="Cerrar Sesion" readonly> </li>
                        <li><input  class="input_li" routerLink="/Perfil"value="Perfil" readonly> </li> 
                        <li><input class="input_li"routerLink="/Cambio"value="Cambiar clave" readonly></li> 
                    </ul>
                </ul>
            </nav>
        </div>
            <div class="logotipo">
                <img class="uleam" src="assets/img/logoULEAM.png" alt="" width="20%" height="50px" >
                <img class="facci" Align="right" src="assets/img/facci.png" alt="" width="20%" height="50px"> 
            </div>
    
    </div>
    <table class="horario"style="margin-left:10px">
    <tr><th class="h">HORAS</th><th class="d">DOMINGO</th><th class="l">LUNES</th><th class="m">MARTES</th><th class="mi">MIERCOLES</th><th class="j">JUEVES</th><th class="v">VIERNES</th><th class=" SA">SABADO</th> </tr>
    <tr><th class="h">6 AM </th><th></th><th></th><th class="t">Tutoria</th><th></th><th></th><th></th><th></th></tr>
    <tr><th class="h">7 AM</th><th></th><th></th><th class="t">Tutoria</th><th class="t">Tutoria</th><th></th><th></th><th></th></tr>
    <tr><th class="h">8 AM</th><th></th><th class="c">Cancelada</th><th></th><th class="t">Tutoria</th><th></th><th></th><th></th></tr>
    <tr><th class="h">9 AM</th><th></th><th  class="c">Cancelada</th><th></th><th class="t">Tutoria</th><th></th><th></th><th></th></tr>
    <tr><th class="h">10 AM</th><th></th><th></th><th></th><th class="t">Tutoria</th><th></th><th></th><th></th></tr>
    <tr><th class="h">11 AM</th><th></th><th></th><th></th><th></th><th></th><th class="t">Tutoria</th><th></th></tr>
    <tr><th class="h">12 PM</th><th></th><th class="t">Tutoria</th><th class="t">Tutoria</th><th></th><th></th><th class="t">Tutoria</th><th></th></tr>
    <tr><th class="h">1 PM</th><th></th><th class="t">Tutoria</th><th class="t">Tutoria</th><th></th><th class="t">Tutoria</th><th class="t">Tutoria</th><th></th></tr>
    <tr><th class="h">2 PM</th><th></th><th></th><th class="c">Cancelada</th><th class="t">Tutoria</th><th class="t">Tutoria</th><th class="t">Tutoria</th><th></th></tr>
    <tr><th class="h">3 PM</th><th></th><th></th><th class="c">Cancelada</th><th class="t">Tutoria</th><th class="t">Tutoria</th><th class="c">Cancelada</th><th></th></tr>
    <tr><th class="h">4 PM</th><th></th><th></th><th></th><th class="c">Cancelada</th><th class="t">Tutoria</th><th class="c">Cancelada</th><th></th></tr>
    <tr><th class="h">5 PM</th><th></th><th></th><th></th><th class="c">Cancelada</th><th class="t">Tutoria</th> <th class="c">Cancelada</th><th></th></tr>
    <tr><th class="h">6 PM</th><th></th><th></th><th></th><th></th><th class="t">Tutoria</th><th class="c">Cancelada</th><th></th> </tr>
    <tr><th class="h">7 PM</th><th></th><th class="t">Tutoria</th><th></th><th class="t">Tutoria</th><th class="t">Tutoria</th><th class="t">Tutoria</th><th></th> </tr>
    <tr><th class="h">8 PM</th><th></th><th class="t">Tutoria</th><th></th><th class="t">Tutoria</th><th class="c">Cancelada</th><th class="t">Tutoria</th><th></th> </tr>
    <tr><th class="h">9 PM</th><th></th><th></th><th></th><th></th><th class="c">Cancelada</th><th></th><th></th></tr>
    <tr><th class="h">10 PM</th><th></th><th></th><th></th><th></th><th class="li"></th><th></th><th></th></tr>
    <tr><th class="h">11 PM</th><th></th><th></th><th></th><th></th><th class="li"></th><th></th><th></th></tr>
</table> 
<div class="piespagina">
    <h1>Contactos:</h1>
    <a href="https://www.facebook.com/UleamEc" target="_blank">
        <img src="assets/img/logofacebook.png" alt="" width="40cm" height="40cm" class="logof">
    </a>
    <a href="https://www.instagram.com/uleam_ecuador_oficial/?hl=es-la" target="_blank">
        <img src="assets/img/logoinstagram.png" alt="" width="40cm" height="40cm" class="logof">
    </a>
    <a href="https://twitter.com/UleamEcuador" target="_blank">
        <img src="assets/img/logotwitter.png" alt="" width="40cm" height="40cm" class="logof">
    </a>
    <hr class="hrp">
    <div class="datosa">
        <h2>Datos adicionales:</h2>
        <p>Direcion:Av. Circunvalacion, Manta</p>
        <p>Ecuador - Manta</p>
        <p>Telefonos:  (05) 262-0288</p>
        <p>Email: contacto@uleam.edu.ec</p>
    </div>  
</div>
</html>
